<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.auction.service.AuctionMapper">
	<select id="auctionList"
		resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT * FROM auction	
	</select>
	
	<select id = "auction" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT * 
		FROM auction
		WHERE AUCTION_ID = #{auctionId}
	</select>
	
	<insert id = "auctionInsert">
	INSERT INTO AUCTION VALUES(#{auctionId},
							   #{auctionName},
							   #{auctionPrice},
							   #{auctionImg},
							   #{auctionText},
							   #{auctionMax},
							   #{auctionDate},
							   #{auctionLastDate},
							   #{auctionSeller},
							   null,
							   0,
							   #{auctionDir})
	</insert>

</mapper>