<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.auction.service.AuctionMapper">
	<!-- 옥션 몇 개씩 불러올지 정하는 곳 -->
	<select id="auctionList"
		resultType="co.micol.mp.auction.service.AuctionVO">
	      select * from(   select rownum  rn,a.* from(

            SELECT * FROM auction
            order by auction_date desc
            
 )  a   )where rn between #{first}  and #{last} 

	</select>
	
	<select id = "auction" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT * 
		FROM AUCTION
		WHERE AUCTION_ID = #{auctionId}
	</select>
	
	<select id = "auction2" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT * 
		FROM AUCTIONBUYLIST
		WHERE AUCTION_ID = #{auctionId}
	</select>
	
	<insert id = "auctionInsert">
	<selectKey keyProperty="auctionId" resultType="String" order="BEFORE">
		SELECT 'a00' || AUCTION_SEQ.NEXTVAL FROM AUCTION
	</selectKey>
		INSERT INTO AUCTION 
		VALUES( #{auctionId},
				#{auctionName},
				#{auctionPrice},
				#{auctionImg},
				#{auctionText},
				#{auctionMax},
				SYSDATE,
				#{auctionLastDate},
				#{auctionSeller},
				#{auctionBuyer},
				#{auctionCount},
				#{auctionDir},
				#{auctionSellerId},
				#{auctionBuyerId}
				)
	</insert>
	

	<update id="auctionPriceInsert" parameterType="co.micol.mp.auction.service.AuctionVO">
		UPDATE AUCTION
		SET AUCTION_PRICE = #{auctionPrice}, AUCTION_BUYER = #{auctionBuyer}, AUCTION_COUNT = AUCTION_COUNT +1, AUCTION_BUYER_ID = #{auctionBuyerId}
		WHERE AUCTION_ID = #{auctionId}
	</update>
	
	<select id="auctionPriceSelect" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT *
		FROM AUCTION
		WHERE AUCTION_ID = #{auctionId}
	</select>

	<insert id="auctionBuyListInsert">
		INSERT INTO AUCTIONBUYLIST
		VALUES( #{memberId},
				#{auctionId},
				#{auctionName},
				#{auctionPrice},
				#{auctionDir},
				SYSDATE 
		
			  )
	</insert>

	<update id="auctionPriceUpdate" parameterType="co.micol.mp.auction.service.AuctionVO">
		UPDATE AUCTION
		SET AUCTION_MAX = #{auctionMax}
		WHERE AUCTION_ID = #{auctionId}
	</update>

	
	<select id="listPage" resultType="int">
		SELECT COUNT(*)
		FROM auction
	</select>

</mapper>