<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.auction.service.AuctionMapper">
	<!-- 옥션 몇 개씩 불러올지 정하는 곳 -->
	<select id="auctionList"
		resultType="co.micol.mp.auction.service.AuctionVO">
			select * from(   select rownum  rn,a.* from(

            SELECT * FROM auction
            order by auction_name
            
 )  a   )where rn between #{first}  and #{last} 
	</select>
	
	<select id = "auction" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT * 
		FROM AUCTION
		WHERE AUCTION_ID = #{auctionId}
	</select>
	
	<insert id = "auctionInsert">



		INSERT INTO AUCTION 
		VALUES( #{auctionId},
				#{auctionName},
				#{auctionPrice},
				#{auctionImg},
				#{auctionText},
				#{auctionMax},
				SYSDATE,
				#{auctionReview},
				#{auctionSeller},
				#{auctionBuyer},
				#{auctionCount}
				)
	</insert>
	

	<update id="auctionPriceInsert" parameterType="co.micol.mp.auction.service.AuctionVO">
		UPDATE AUCTION
		SET AUCTION_PRICE = #{auctionPrice}, AUCTION_BUYER = #{auctionBuyer}
		WHERE AUCTION_ID = #{auctionId}
	</update>
	
	<select id="auctionPriceSelect" resultType="co.micol.mp.auction.service.AuctionVO">
		SELECT AUCTION_BUYER, AUCTION_PRICE
		FROM AUCTION
		WHERE AUCTION_ID = #{auctionId}
		
	
	</select>

</mapper>