<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.product.service.ProductMapper">

	<!-- 제품 몇 개씩 불러올지 정하는곳 -->
	<select id="productList" 
		resultType="co.micol.mp.product.service.ProductVO">
	select * from(   select rownum  rn,a.* from(

            SELECT * FROM product
            order by product_date desc
            
 )  a   )where rn between #{first}  and #{last} 
	</select>
	
	<select id ="productCateList"
		resultType="co.micol.mp.product.service.ProductVO">
		SELECT * 
		FROM PRODUCT
		WHERE PRODUCT_CATEGORY = #{productCategory}
	
	</select>
	
	<insert id = "productInsert">
		INSERT INTO PRODUCT VALUES(#{productId},#{productName},#{productPrice},
		#{productImg},#{productDir},#{productText},0,SYSDATE,#{productAmount},#{productCategory})
	</insert>
	
	<select id="product"
		resultType="co.micol.mp.product.service.ProductVO">
		SELECT * 
		FROM PRODUCT 
		WHERE PRODUCT_ID = #{productId}
	</select>
	
	<select id="productRecentList"
		resultType="co.micol.mp.product.service.ProductVO">
		SELECT *  
		FROM (SELECT * FROM PRODUCT ORDER BY PRODUCT_DATE DESC)
		WHERE ROWNUM <![CDATA[<=]]> 8

	</select>
	
	<delete id="productDelete">
		DELETE 
		FROM PRODUCT
		WHERE PRODUCT_ID = #{productId}
	</delete>
	<!-- 제품 페이지 번호 정하는 곳 -->
	<select id="listPage" resultType="int">
		SELECT COUNT(*)
		FROM product
	</select>
	
</mapper>