<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.review.service.ReviewMapper">
	<insert id="insertReview" parameterType="co.micol.mp.review.service.ReviewVO">
		<selectKey keyProperty="reviewNo" resultType="int"	order="BEFORE">
			SELECT COALESCE(MAX(REVIEW_NO) + 1,1) AS reviewNo FROM review
		</selectKey>
		INSERT INTO review 
		VALUES(#{reviewNo},#{productId},#{memberId},#{reviewSubject},SYSDATE)
	</insert>
	<select id = "reviewList"
			resultType="co.micol.mp.review.service.ReviewVO">
		SELECT R.REVIEW_SUBJECT, M.MEMBER_NAME ,R.REVIEW_DATE, M.MEMBER_ID
		  FROM REVIEW R 
		  JOIN MEMBER M ON M.MEMBER_ID=R.MEMBER_ID 
		  JOIN PRODUCT P ON P.PRODUCT_ID = R.PRODUCT_ID  WHERE R.PRODUCT_ID=#{productId}
	</select>
	<delete id="deleteReview" >
		DELETE FROM review
		WHERE member_id = #{memberId} 
	</delete>
	
</mapper>