<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.mp.buyList.service.BuyListMapper">
<select id = "buyList" resultType="co.micol.mp.buyList.service.BuyListVO">
SELECT*FROM buyList 
WHERE MEMBER_id = #{memberId}
ORDER BY BUY_DATE
</select>
<insert id="buyListInsert" parameterType="co.micol.mp.buyList.service.BuyListVO" >
insert into buyList
values(#{memberId },#{productId },#{auctionId },#{productName },#{auctionName },#{productPrice },#{auctionPrice },#{productImg },#{auctionImg },sysdate,#{productAmount })
</insert>



</mapper>